<html>
<head>
  <title>Maestría en software</title>
</head>
<body>
<div align="center">
  <h1>Maestría en sofware</h1>

  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">NOMBRE</th>
      <th scope="col">URL SERVICE</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let postre of this.pokemons.results">
      <td>{{postre.name}}</td>
      <td>{{postre.url}}</td>
    </tr>
    </tbody>
  </table>

</div>
</body>
<footer>
  <p>Autores:</p>
  <ol>
    <li>Freddy Tacuri</li>
    <li>Cristian Caceres</li>
  </ol>
  <p>Fecha: 11-Noviembre-2022</p>
</footer>
</html>
